* {
    padding: 0;
    margin: 0;
}

.bebas-neue-regular {
    font-family: "Bebas Neue", serif;
    font-weight: 400;
    font-style: normal;
}

body {
    height: 100vh;
    font-family: "Bebas Neue", serif;
}

header {
    height: 15%;
    background-color: white;
    color: black;
    text-align: center;
    padding: 1em;
    display: flex;
    justify-content: left;
    align-items: right;
}

header div.logo {
    position: absolute;
    top: 20;
    left: 0;
    width: 100%;
    display: flex;
    justify-content: center;
    pointer-events: none;
}

header .icons {
    width: 25%;
    margin-left: auto;
    display: flex;
    justify-content: space-around;
}

ul {
    width: 90%;
    list-style-type: none;
    display: flex;
    justify-content: space-around;
    align-items: center;
    font-size: 2.5em;
}

nav {
    display: flex;
    justify-content: space-around;
    align-items: center;
}


footer {
    height: 10%;
    background-color: grey;
    color: black;
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
    position: fixed;
    bottom: 0;
    text-align: center;
    width: 100%;
}

a {
    text-decoration: none;
    color: black;
}

.active {
    color: #FF4858;
}

.content {
    margin: auto;
    display: flex;
    justify-content: space-around;
    align-items: center;
    flex-direction: row;
    flex-wrap: wrap;
    height: 105%;
    width: 80%;
    color: black;
    font-size: 2em;
}

.content img {
    width: 200px;
    height: 200px;
    padding: 20px;
}

.bigShoes {
    width: 100%;
    height: 60%;
    display: flex;
    flex-direction: row;
}

img {
    width: 50vw;
    height: 60vh;
}

.whiteSpace {
    width: 100%;
    height: 10vh;
    background-color: white;
}


header {
    /* z-index: -1; */
    position: relative;
}

.logo {
    z-index: 100;
}


header div.logo a {
    pointer-events: initial !important;
}

header div.logo {
    z-index: 1000;
}