* {
    padding: 0;
    margin: 0;
}

.bebas-neue-regular {
    font-family: "Bebas Neue", serif;
    font-weight: 400;
    font-style: normal;
}


body {
    height: 100vh;
    font-family: "Bebas Neue", serif;
    overflow: hidden;
}

header {
    height: 15%;
    background-color: white;
    color: black;
    text-align: center;
    padding: 1em;
    display: flex;
    justify-content: left;
    align-items: right;
}

header div.logo {
    position: fixed;
    top: 20;
    left: 0;
    width: 100%;
    display: flex;
    justify-content: center;
    pointer-events: none;
}

header .icons {
    width: 25%;
    margin-left: auto;
    display: flex;
    justify-content: space-around;
}

ul {
    width: 90%;
    list-style-type: none;
    display: flex;
    justify-content: space-around;
    align-items: center;
    font-size: 2.5em;
}

nav {
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.content {
    margin: auto;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 70%;
    color: black;
    font-size: 2em;
    flex-direction: row; 
    width: 90%;
    flex-wrap: wrap; 
}


.content img {
    width: 200px;
    height: 200px;
    padding: 20px;
}

a {
    text-decoration: none;
    color: black;
}

.active {
    color: #FF4858;
}


header {
    /* z-index: -1; */
    position: relative;
}

.logo {
    z-index: 100;
}


header div.logo a {
    pointer-events: initial !important;
}

header div.logo {
    z-index: 1000;
}

footer {
    display: none;
}

